<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>

<div id="app">

    <div class="header">
        <h1>لیست کارها</h1>
        <input type="text" placeholder="کارها" v-model="input">
        <button class="addBtn" @click="addToDo">اضافه کردن به لیست</button>
        <!--        <h1>{{todos}}</h1>-->
    </div>

    <ul>
        <todo-item v-for="(todo,index) in todos" :key="todo.text" :todo="todo" @todoclick="todo.completed=!todo.completed" @delete-todo="deleteTodo(index)">

        </todo-item>
    </ul>

</div>


<script src="https://unpkg.com/vue@next"></script>
<script>
    const app=Vue.createApp({
        data: () => ({
            input: '',
            todos:[{text:'first todo',completed:false},{text: 'second todo',completed: false}
            ],
        }),
        methods:{
            addToDo(){
                if (this.input.trim()) {
                    this.todos.push({text:this.input,completed: false});
                    this.input = '';
                }
            },
            deleteTodo(index){
                this.todos.splice(index,1);
            }
        }
    });


    app.component('TodoItem',{
        template: `<li  :class="{'checked':todo.completed}"  @click="$emit('todoclick')">
            {{todo.text}}
            <button class="close" @click="$emit('delete-todo')">X</button>
        </li>
        `,
        props:['todo'],

    })

    app.mount('#app');
</script>
</body>
</html>